body {
  --file-line-width: 1000px;
}

 /* Inline code: background and font color  */
 :not(pre) > code,
 .cm-inline-code {
   border-radius: 4px;
   padding: 4px 8px;
   font-size: var(--font-text-size) !important;
   font-family: 'JetBrains Mono', 'Fira Mono', 'Consolas', monospace !important;
 }

body.theme-light :not(pre) > code,
body.theme-light .cm-inline-code {
  background-color: #F1F1EF !important;
  color: #000000 !important;
}

body.theme-dark :not(pre) > code,
body.theme-dark .cm-inline-code {
  background-color: #2d2d2d !important;
  color: #e06c75 !important;
}



.HyperMD-codeblock,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    --code-size: 12.5px;
}

body.theme-light .HyperMD-codeblock,
body.theme-light :not(pre) > code[class*="language-"],
body.theme-light pre[class*="language-"] {
    --code-normal: #333333;
    --code-comment: #008000;
    --code-function: #795e26;
    --code-important: #d16969;
    --code-keyword: #0000ff;
    --code-operator: #333333;
    --code-property: #795e26;
    --code-punctuation: #333333;
    --code-string: #a31515;
    --code-tag: #800000;
    --code-value: #098658;
    --code-background: #f5f5f5;
}

body.theme-dark .HyperMD-codeblock,
body.theme-dark :not(pre) > code[class*="language-"],
body.theme-dark pre[class*="language-"] {
    --code-normal: #d4d4d4;
    --code-comment: #6a9955;
    --code-function: #dcdcaa;
    --code-important: #f44747;
    --code-keyword: #569cd6;
    --code-operator: #d4d4d4;
    --code-property: #9cdcfe;
    --code-punctuation: #d4d4d4;
    --code-string: #ce9178;
    --code-tag: #f44747;
    --code-value: #b5cea8;
    --code-background: #333232;
}


body.fancy-cursor .markdown-source-view.mod-cm6 .cm-content,
body .markdown-source-view.mod-cm6 .cm-content,
body.fancy-cursor .mod-cm6 .cm-line {
    caret-color: var(--text-accent) !important;
}

/* Change color for all headers */
/* .markdown-preview-view h1, */
/* .markdown-preview-view h2, */
/* .markdown-preview-view h3, */
/* .markdown-preview-view h4, */
/* .markdown-preview-view h5, */
/* .markdown-preview-view h6, */
/* .cm-header-1, */
/* .cm-header-2, */
/* .cm-header-3, */
/* .cm-header-4, */
/* .cm-header-5, */
/* .cm-header-6 { */
/*   color: #4784e6 !important; */
/* } */

/* Bullet list spacing between dot and text */
ul li::marker {
  content: "• ";
  letter-spacing: 0.5em;
}
